
    <div class ="calEventsWrapper">    
    </div>                    


<div  class="tx_iwansoncalendar" >


    <div class ="calEvents">    
        <div id="calCloseButton">
            <img src="{f:uri.resource(path: 'Media/close_x.svg', extensionName: 'iwansonsstuff')}" width="28px" height="28px"/> 
        </div>
        <f:for each="{events}" as="eventsByDay" key="oneDay">

            <div class ="oneDay {oneDay}">    
                <div class ="day">    
                    <h2> {oneDay} </h2>
                </div>
                    <div class="clear"></div>

                <f:for each="{eventsByDay}" as="event">
                    <div class ="oneEvent uidnr{event.uid}" data-uidnr="{event.uid}">
                        <!--  <f:link.action action="show" arguments="{event : event}"> {event.title}</f:link.action> -->                        
                        <div class ="eventFlex">    
                        <div class ="symbol">    
                            <img src="fileadmin/{event.category.symbol.originalResource.identifier}" class="catSymbol" data-category="{event.category.title}" width="60px"/>                            
                        </div>
                        <div class ="content">    
                            <div class ="title">    
                                {event.title}
                            </div>
                            <div class ="date">    
                                <f:format.date format="{dateFormatString}" >{event.eventstartdate}</f:format.date>

                                <f:if condition="{event.eventenddate}">
                                 - <f:format.date format="{dateFormatString}" >{event.eventenddate}</f:format.date>                             
                                </f:if>

                                <f:if condition="{event.eventstarttime}">
                                    <f:format.date format="%H:%m" >{event.eventstartdate}</f:format.date>

                                    <f:if condition="{event.eventendtime}">
                                       - <f:format.date format="%H:%m" >{event.eventendtime}</f:format.date>
                                    </f:if>

                                </f:if>                            

                            </div>
                            <div class ="place">    
                                {event.place.title}
                            </div>               

                            <div class ="subtitle">    
                                {event.subtitle}
                            </div>    

                            
                            <div class="details uidnr{event.uid}">
                                
                        <f:if condition="{event.images.originalResource}">

                        

                        <table class="details"><tr>
                            <td class="image">
                                <picture>
                                    <source media="(min-width: 1024px)" srcset="{f:uri.image(image: '{event.images.originalResource}',treatIdAsReference:'1',height:'560',cropVariant:'default')}" >
                                    <source media="(min-width: 440px)" srcset="{f:uri.image(image: '{event.images.originalResource}',treatIdAsReference:'1',height:'320',cropVariant:'tablet')}">
                                    <source media="(max-width: 439px)" srcset="">

                                    <img class="iwansonImage admin" data-portrait-default="{orient1}"" src="{f:uri.image(image: '{event.images.originalResource}',treatIdAsReference:'1',height:'560',cropVariant:'default')}" title="{oneImage.properties.title}" alt="{oneImage.properties.alternative}" />
                                </picture>
                            </td>

                            <td class="text">
                                </f:if>


                                <div class ="title">    
                                    {event.title}
                                </div>                                
                                <f:format.html>
                                     {event.longdescription}
                                </f:format.html>

                                <p>
                                <f:link.typolink parameter="{event.link}">
            
                                        <f:translate key="tx_iwansoncalendar.automaticlink">> More Information</f:translate>
                                </f:link.typolink>        
                                </p>

                                    <f:if condition="{event.linkoverride}">
                                        <f:then>

                                        </f:then>
                                        <f:else>

                                        </f:else>
                                    </f:if>


                                </td>
                            </tr></table>
                            </div>
                        </div>

                            
                    </div>
                        <div class ="description mobileOnly">    
                                <f:format.raw>
                                     {event.longdescription}
                                </f:format.raw>
                        </div>                                
                        
                </div>
            </f:for> 

            <div class="clear"></div>

            <div class="detailContainer">

            </div>


        </div>
    </f:for>
    </div>                    
    
    
    <div class ="calUpperPartSteuerung">
        <div class="steuerung">
                <f:alias map="{nextMonth: '{oeCal:nextMonth(month:actualMonth, year:actualYear, out:\"month\")}', 
                         nextYear: '{oeCal:nextMonth(month:actualMonth, year:actualYear, out:\"year\")}', 
                         prevMonth: '{oeCal:prevMonth(month:actualMonth, year:actualYear, out:\"month\")}', 
                         prevYear: '{oeCal:prevMonth(month:actualMonth, year:actualYear, out:\"year\")}'
                         }">

                        <div class="prev">
                            <h2>
                                <f:link.action action="listMonth" arguments="{actualMonth : prevMonth, actualYear: prevYear}"> {event.title}
                                    <
                                </f:link.action>  
                            </h2>
                        </div>
                        <div class="thedate">
                            <h2>
                                {actualMonthText} {actualYear} 
                            </h2>
                        </div>
                        <div class="next">
                            <h2>              
                                <f:link.action action="listMonth" arguments="{actualMonth : nextMonth, actualYear: nextYear}"> {event.title}
                                    >                                                    
                                </f:link.action>
                            </h2>
                        </div>
                </f:alias>                                      

        </div>
    </div>    
    <div class="clear"></div>
    <div class ="calUpperPart">    
        <div class ="calUpperPartPart middle">
            <div class="beforeFiller"></div>
            <div class="legende">
                <f:for each="{categories}" as="category">
                    <div class="wrapper" data-category="{category.title}">
                        <div class="image"><img src="fileadmin/{category.symbol.originalResource.identifier}" class="catSymbol" data-category="{category.title}" width="60px"/></div><div class="text">{category.title}</div>
                    </div>
                </f:for>
            </div>
        </div>    
        <div class ="calUpperPartPart right">
            <div class="beforeFiller"></div>
            <h1 class="calheader">
              
                <f:format.raw> <f:translate key="tx_iwansoncalendar.kalenderBrokenStyle">kal<br/>en<br/>der</f:translate>  </f:format.raw>             
            </h1>
        </div>    
    </div>
    <div class="clear"></div>
    <f:format.raw>
        <oeCal:calendar month="{actualMonth}" year="{actualYear}" events="{events}"/>
    </f:format.raw>


</div>
