<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-iwansoncalendar" >
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.title" />
		</td>
		<td>
		{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.subtitle" />
		</td>
		<td>
		{event.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.description" />
		</td>
		<td>
		{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.linkoverride" />
		</td>
		<td>
		{event.linkoverride}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.eventstartdate" />
		</td>
		<td>
		{event.eventstartdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.eventenddate" />
		</td>
		<td>
		{event.eventenddate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.eventendtime" />
		</td>
		<td>
		{event.eventendtime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.longdescription" />
		</td>
		<td>
		{event.longdescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_event.images" />
		</td>
		<td>
				<a href="{event.images.originalResource.publicUrl}">
					{event.images.originalResource.name}
				</a>
		</td>
	</tr>
</table>
</html>