<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-iwansoncalendar" >
	<tr>
		<td>
			<f:translate key="tx_iwansoncalendar_domain_model_day.unused" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>