.mobileOnly {
    display:none;
}

#startpageSlider,#sliderOeWrapper {
    height:0;
}
body {
    background:black;
}

.tx_iwansoncalendar {
    position: relative;    
}
.tx_iwansoncalendar h1.calheader {
    float:right;
    color:white;
    text-align:right;
}

.calendarFullMonthWrapper { 
    float: left;
    margin-bottom:80px;
}

.oeCal.day {
    background:black;
    float:left;
    margin-right:20px;
    margin-top: auto; 
    height:235px;
    width:75px;
    display: flex;
    color:white;
    margin-bottom:0.9%;
    border-top:5px solid transparent;
    border-right:5px solid transparent;
    transition: border-color 0.8s;
}
.oeCal.day.open {
    border-color: white;
}

.oeCal .daynumber {
    font-size:30px;
    line-height: 24px;
    margin-top: auto;   
    width:60%;
    padding:0 0 11px 16px;
    position: relative;
    z-index: 6;
}

.oeCal .beforeFiller {
    margin-bottom: auto;    
}
.calEventsWrapper {
    width:0;
    position: absolute;
    top: 0;
    /* depending on window, so adjust via js! */ 
    right: 5%;            
    background:white;
    float:right;
    z-index: 3;
    
/*    min-height:100vh;    */

}

.calEvents {
    float:right;
    width:0;
    overflow:hidden;
    position: absolute;
    top: -280px;
    /* depending on innerWrap, so negative Value, no need to adjust */
    right: -80px;
    height: 100vh;
/*    min-height:100vh;    */
}

#calCloseButton {
    float:right;
    padding:40px;
    position: fixed;
    z-index: 101;
/*    left:1680px;*/
    display:none;
}

.oneDay {
    position: fixed;
    padding:40px;
    
}
.oneDay .day {
    padding-bottom:80px;
}


.oneEvent .eventFlex {
    display:flex;
}

.oneEvent {
    padding-bottom:40px;
    float:left;
    width:46%;
    padding-right:4%;
    transition: opacity 0.3s;
}
.oneEvent .symbol {
    filter:grayscale(100%);
    transition: filter 0.8s;
}

.oneEvent .content {
    padding:20px 0 0 12px;
    opacity:0.5;
    transition: opacity 0.8s;
}


.oneEvent.active .content {
    opacity:1;
}

.oneEvent.active .symbol {
    filter:none;
}
.oneEvent .title {
    font-weight:bold;
}
.oneEvent .details {
    display:none;
}

.detailContainer table tr td {
    vertical-align: bottom;
} 
.detailContainer table tr td.text {
    padding:0 0 40px 40px;
    font-weight: normal;
} 
.detailContainer table tr td.text .title {
    font-weight:bold;
}

.calUpperPart {
    display:flex;
    position: relative;
    top: -160px;    
}
.calUpperPartPart {
    flex: 3 1;  
    flex-grow:1; 

    display:flex;

}
.calUpperPartPart .beforeFiller {
    margin-bottom: auto;    
}
.calUpperPartPart.right h1 {
    width:100%;
}
.calUpperPartPart.middle {
    flex-grow:4; 
}
.tx_iwansoncalendar .steuerung {
    color:white;
    float:left;
    margin-top: auto;   
    font-size:30px;
    line-height: 24px;      
    display:flex;
}

  .calUpperPartSteuerung .steuerung .prev {
       flex-grow: 1;
       font-size: 22px;
        padding-right:40px;
  }   
   .calUpperPartSteuerung .steuerung .next {
       flex-grow: 1;
       text-align: right;
       padding-left:40px;
   }
   
.tx_iwansoncalendar .steuerung a {
    color:white;
    text-decoration:none;
}
.tx_iwansoncalendar .legende {
    color:white;
    float:left;
    margin-top: auto;   
    position:relative;
    z-index:6;
    font-size:22px;
}

.tx_iwansoncalendar .legende div {
    float:left;
}
img.catSymbol {
    transition: filter, -webkit-filter 0.6s;
}
.tx_iwansoncalendar .legende .wrapper .text {
    
    padding:14px 24px 0 6px;
}


/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# Desktop (>1024)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (min-width: 1025px)  {

    .calUpperPart {
        top: -80px;    
    }
    
     #calCloseButton {
/*        position:relative;*/
/*        top:20px;*/
/*        left:840px;*/
    }
    

}

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# TABLET (1024)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 1024px) {


    .calEvents {
        right: 0;
    /*    min-height:100vh;    */
    }

    .calUpperPart {
        top: 20px;    
    }

}

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# MOBILE (360)  ############################################################################################################ */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 440px) {
    
    .mobileOnly {
        display:block;
    }

    .calheader {
        display:none;
    }
    
    .calUpperPart, .calUpperPartPart {
        display:block;
    }
    .calUpperPart {
        margin-bottom:0;
        top: 70px;
    }
    
    .calUpperPart .legende, .calUpperPartSteuerung .steuerung {
        float:none;
    }
    
    .calUpperPart .legende {
        font-size:14px;
    }

    .calUpperPart .legende img {
        width:30px;
    }
    
    .tx_iwansoncalendar .legende .wrapper .text {
        padding:2px 0 0 10px;
    }
        
    div.legende div.wrapper {
        width:48%;
        height:35px;
   }
   
    div.legende div.wrapper:nth-child(2n) {
        margin-left:3%;
   }
   
   .calUpperPartSteuerung .steuerung {
       position:fixed;
       top: 100px;
       left: 20px;
       right:20px;
       display:flex;
       transition: top 0.9s;
       z-index: 2;
   }
  .calUpperPartSteuerung .steuerung .prev {
       flex-grow: 1;
       font-size: 22px;
   }   
   .calUpperPartSteuerung .steuerung .next {
       flex-grow: 1;
       text-align: right;
   }
    .calUpperPartSteuerung .steuerung .next h2 a, .calUpperPartSteuerung .steuerung .prev h2 a {
       font-size: 24px;
   }   
    .calUpperPartSteuerung .steuerung .thedate {
       flex-grow: 10;
       text-align: center;
       opacity:1;
       transition: opacity 0.4s;
   }       
   
   .calUpperPartSteuerung .steuerung .thedate.hidden {
       opacity:0;
   }

   .calendarFullMonthWrapper { 
    margin-top:100px;
}
   
   .oeCal.day {
       width:100%;
       height:auto;
   }
   
    .oeCal.day.open {
        border-color: transparent;
    }

    .oeCal .daynumber {       
       font-size: 18px;
        line-height: 22px;
        width:95%;
   }
   .oeCal .daynumber.hasEvent {
       text-decoration: underline;
   }
   
    .oeCal .daynumber img {       
        height:25px;    
        float:right;
        margin-right:12px;
    }
    
    .calEventsWrapper {
    width:100%;
    height:0;
    position:relative;
    top:0;
    right:0;
    }
    
    .calEvents {
        float:none;
        width:100%;
        position: relative;
        top: 0;
        /* depending on innerWrap, so negative Value, no need to adjust */
        left:0;
        height:0;
    }    
    
    #calCloseButton {
        position:relative;
        left:0;
        padding:0;
        display:none;
    }
    
    .oneDay {
        position:relative;
        height:0;
        padding:40px 20px;
    }

    .oneDay .day {
        display:none;
    }

    
    .oneEvent {
        clear:both;        
        width:100%;
    }    
   
    .oneEvent .symbol {
        filter:none;
    }
    
    .oneEvent .symbol img {
        width:35px;
    }
    
    .oneEvent .content {
        opacity:1;
        padding: 0 0 0 12px;
    }
    
    .oneEvent .description {
        padding: 20px 10px 20px 10px;
    }
}